<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test9">
    <gazebo>
    <plugin name="gazebo_ros_control"  filename="libgazebo_ros_control.so">
      <robotSimType>steer_bot_hardware_gazebo/SteerBotHardwareGazebo</robotSimType>
      <legacyModeNS>false</legacyModeNS>
    </plugin>
  </gazebo>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0070857 -0.00022102 0.54657"
        rpy="0 0 0" />
      <mass
        value="15.051" />
      <inertia
        ixx="0.11965"
        ixy="-1.6769E-06"
        ixz="-0.0034836"
        iyy="0.29664"
        iyz="-2.1065E-06"
        izz="0.36527" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_steer_link">
    <inertial>
      <origin
        xyz="1.1102E-16 -1.3587E-18 -0.000375"
        rpy="0 0 0" />
      <mass
        value="2.0944E-06" />
      <inertia
        ixx="5.4323E-13"
        ixy="-1.0771E-28"
        ixz="-1.0797E-27"
        iyy="5.4323E-13"
        iyz="1.0693E-27"
        izz="8.3776E-13" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/front_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/front_steer_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_steer_joint"
    type="revolute">
    <origin
      xyz="0.42 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_steer_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.72"
      upper="0.72"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_steer_left_link">
    <inertial> 
      <origin xyz="9.44636555644252E-08 -0.000295273745285485 -8.13046296954667E-11" rpy="0 0 0" />
      <mass value="0.296315811300368" /> 
      <inertia
        ixx="0.000374692013709393"
        ixy="-9.17172260383823E-08"
        ixz="-2.43187512356516E-12"
        iyy="0.000661029987747155"
        iyz="1.9736939507106E-13"
        izz="0.000374691963930348" />
    </inertial>
   <visual>
     <geometry>
       <cylinder length="0.001" radius="0.005"/>
     </geometry>
     <origin rpy="0 0 0"  xyz="0 0 0" />
   </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
       <cylinder length="0.001" radius="0.005"/>
      </geometry>
    </collision>
    
  </link>
  <joint
    name="front_steer_left_joint"
    type="revolute">
    <origin rpy="0 0 0"  xyz="0.42 0.3 0.26937" />
    <parent link="base_link" />
    <child link="front_steer_left_link" />
    <axis xyz="0 0 1" />  <!-- charge steer direction default is 0 0 1-->
    <limit lower="-0.61" upper="0.61" effort="0" velocity="0" />
  </joint>
  <link
    name="front_left_wheel_link">
    <inertial>
      <origin
        xyz="-1.6252E-08 1.9746E-07 -4.9513E-09"
        rpy="0 0 0" />
      <mass
        value="2.3611" />
      <inertia
        ixx="0.025953"
        ixy="3.9277E-10"
        ixz="-1.096E-12"
        iyy="0.045436"
        iyz="9.5777E-09"
        izz="0.025953" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/front_left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/front_left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel_joint"
    type="continuous">
    <origin
      xyz="0 0 -0.1"
      rpy="0 0 0" />
    <parent
      link="front_steer_left_link" />
    <child
      link="front_left_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="front_steer_right_link">
    <inertial>  
      <origin xyz="9.44636555644252E-08 -0.000295273745285485 -8.13046296954667E-11" rpy="0 0 0" />
      <mass value="0.296315811300368" /> 
      <inertia
        ixx="0.000374692013709393"
        ixy="-9.17172260383823E-08"
        ixz="-2.43187512356516E-12"
        iyy="0.000661029987747155"
        iyz="1.9736939507106E-13"
        izz="0.000374691963930348" />
    </inertial>
   <visual>
     <geometry>
       <cylinder length="0.001" radius="0.005"/>
     </geometry>
     <origin rpy="0 0 0"  xyz="0 0 0" />
     <material name=""> 
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
     </material>
   </visual>
   <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
       <cylinder length="0.001" radius="0.005"/>
      </geometry>
    </collision>
    
  </link>
  <joint
    name="front_steer_right_joint"
    type="revolute">
    <origin rpy="0 0 0"  xyz="0.42 -0.31 0.26937" />
    <parent link="base_link" />
    <child link="front_steer_right_link" />
    <axis xyz="0 0 1" />     <!-- charge steer direction default is 0 0 1-->
    <limit lower="-0.61" upper="0.61" effort="0" velocity="0" />
  </joint>
  <link
    name="front_right_wheel_link">
    <inertial>
      <origin
        xyz="1.6252E-08 -1.9746E-07 -4.9515E-09"
        rpy="0 0 0" />
      <mass
        value="2.3611" />
      <inertia
        ixx="0.025953"
        ixy="3.9279E-10"
        ixz="9.4373E-13"
        iyy="0.045436"
        iyz="-9.5777E-09"
        izz="0.025953" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/front_right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/front_right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel_joint"
    type="continuous">
    <origin
      xyz="0 0 -0.1"
      rpy="0 0 0" />
    <parent
      link="front_steer_right_link" />
    <child
      link="front_right_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="rear_wheel_link ">
    <inertial>
      <origin
        xyz="-5.5511E-17 -1.3587E-18 -0.000375"
        rpy="0 0 0" />
      <mass
        value="2.0944E-06" />
      <inertia
        ixx="5.4323E-13"
        ixy="-1.0771E-28"
        ixz="-1.0797E-27"
        iyy="5.4323E-13"
        iyz="1.0693E-27"
        izz="8.3776E-13" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/rear_wheel_link .STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/rear_wheel_link .STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.42 0 0.16937"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_wheel_link " />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="camera">
    <inertial>
      <origin
        xyz="0.015 -1.4324E-16 2.2204E-15"
        rpy="0 0 0" />
      <mass
        value="0.225" />
      <inertia
        ixx="0.00046875"
        ixy="-4.2534E-18"
        ixz="1.1402E-19"
        iyy="6.375E-05"
        iyz="1.3093E-18"
        izz="0.00043875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/camera.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/camera.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.20158 0 0.77527"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="imu">
    <inertial>
      <origin
        xyz="-2.276E-15 1.7457E-17 0.005"
        rpy="0 0 0" />
      <mass
        value="0.025" />
      <inertia
        ixx="5.4167E-06"
        ixy="2.7218E-22"
        ixz="-1.8636E-20"
        iyy="5.4167E-06"
        iyz="1.7413E-20"
        izz="1.0417E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/imu.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/imu.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0.17658 0 0.75027"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_rear_link">
    <inertial>
      <origin
        xyz="-1.6252E-08 1.9746E-07 -4.9512E-09"
        rpy="0 0 0" />
      <mass
        value="2.3611" />
      <inertia
        ixx="0.025953"
        ixy="3.9266E-10"
        ixz="-8.3216E-13"
        iyy="0.045436"
        iyz="9.5777E-09"
        izz="0.025953" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/left_rear_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/left_rear_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_rear_joint"
    type="continuous">
    <origin
      xyz="-0.42 0.31 0.16937"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_rear_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_rear_link">
    <inertial>
      <origin
        xyz="1.6252E-08 -1.9746E-07 -4.9512E-09"
        rpy="0 0 0" />
      <mass
        value="2.3611" />
      <inertia
        ixx="0.025953"
        ixy="3.9279E-10"
        ixz="9.4373E-13"
        iyy="0.045436"
        iyz="-9.5777E-09"
        izz="0.025953" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/right_rear_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test9/meshes/right_rear_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_rear_joint"
    type="continuous">
    <origin
      xyz="-0.42 -0.31 0.16937"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_rear_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
      <!--add color for links -->
  <gazebo reference="base_link">
    <material>Gazebo/DarkGrey </material>
  </gazebo>

  <gazebo reference="front_steer_left_link">
    <material>Gazebo/Road</material>
  </gazebo>

  <gazebo reference="front_steer_right_link">
    <material>Gazebo/Road</material>
  </gazebo>

  <gazebo reference="front_left_wheel_link">
    <material>Gazebo/Road</material>
  </gazebo>

  <gazebo reference="front_right_wheel_link">
    <material>Gazebo/Road</material>
  </gazebo>
  
  <gazebo reference="left_rear_link">
    <material>Gazebo/Road</material>
  </gazebo>

  <gazebo reference="right_rear_link">
    <material>Gazebo/Road</material>
  </gazebo>

  
   <gazebo reference="camera">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="imu">
    <material>Gazebo/Black</material>
  </gazebo>
</robot>